extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='/') Wikitechie Facebook Publisher
        ul.nav
          li
            a(href='#') Home
          li
            a(href='#') User
          li
            a(href='#') About

  .container
    .row-fluid
      .span1
      .span10
        .hero-unit.center
          h2 Welcome to Facebook Publisher
          br
          a(href='/auth/facebook',class="btn btn-large btn-block btn-primary") Login By Facebook
      .span1
